/*TODO
-- Einbau eines Farbrads 
-- Erweiterung der Pinselgröße 
-- Dynamisches Anzeigen der aktuellen Pinselgröße */

/*Initialer Seiten-Hintergrund*/
body { background-color: #E3E3E3; /*Für bessere Sichtbarkeit der Anwendung*/
}

/*Visueller Hintergrund der Anwendung*/
.background {
  background-image: url('https://i.imgur.com/GeNO9d9.png');
  width: 534px;
  height: 384px;
  display: block;
}

/*Darstellung der Canvas-Kopie*/
.canvasMirror {
  position:absolute;
  top:418px;
  left:8px; 
  display:none;
}

/*Anpassung der Buttons*/
button {
  border: none;
  background-color: #fff; /*Hintergrundfarbe an den Canvas-Background angepasst*/
}

.updateB {
  font-size:24px;
  position: absolute;
  cursor: pointer;
  color: black;
  border: none;
  left:509px;
  top:302px;
}

.saveB {
  font-size:24px;
  position: absolute;
  cursor: pointer;
  color: black;
  border: none;
  left:509px;
  top:330px;
}

.deleteB {
  font-size:16px;
  position: absolute;
  cursor: pointer;
  color: black;
  border: none;
  left:509px;
  top:361px;
}

.genAM {
  font-size:12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  color: black;
  border: 1px solid rgb(211, 211, 211);
  border-left: none;
  left:31px;
  top:395px;
}

.deleteBAM {
  font-size:12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  color: black;
  border: 1px solid rgb(211, 211, 211);
  left:10px;
  top:395px;
}

/*Darstellung der generierten API-Elemente*/
figure {
  position: absolute;
  top:25px;
  left:530px;
}

/* Sidebar-Menü für die Farbauswahl */
.sidebarColor {
  height: 350px; 
  width: 0; /* Änderung über JS */
  position: absolute; 
  z-index: 1; 
  top: 45px;
  left: 0;
  background-color: none; 
  overflow-x: hidden; 
  overflow-y: hidden; 
  transition: 0.5s; 
}

/* Links innerhalb der SidebarColor */
.sidebarColor a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Link-Hover der SidebarColor */
.sidebarColor a:hover {
  color: #f1f1f1;
}

/* Position des Open-Buttons */
.openbtnColor {
  position: absolute;
  cursor: pointer;
  color: black;
  border: none;
  left:510px;
  top:40px;
}

/* Position des Close-Buttons */
.sidebarColor .closebtnColor {
  position: absolute;
  top: -20px;
  right:-2px;
  font-size: 32px;
}

/*Buttons für die Farbauswahl*/
.cLBlue {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#03A9F4 ;
}

.cDBlue {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#0D47A1 ;
}

.cViolet {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top:20px;
  margin-bottom:5px;
  margin-left:5px;
  background:#9C27B0;
}

.cRed {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#B71C1C;
}

.cGreen {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#4CAF50;
}

.cLime {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#CDDC39;
}

.cYellow {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#FFEB3B;
}

.cOrange {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#FF9800;
}

.cBrown {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#795548 ;
}

.cLGrey {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#BDC3C7;
}

.cDGrey {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#707B7C ;
}

.cBlack {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#000000;
}

.eraser {
  height: 18px;
  width: 18px;
  background-color: #bbb;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:white;
}

/* Sidebar-Menü für die Pinselgröße */
.sidebarSize {
  height: 110px; 
  width: 0; /* Änderung über JS */
  position: absolute; 
  z-index: 1; 
  top: 75px;
  left: 0;
  background-color: none; 
  overflow-x: hidden; 
  overflow-y: hidden; 
  transition: top 0.5s ease-in;
}

/* Links der SidebarSize */
.sidebarSize a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Link-Hover der sidebarColor */
.sidebarSize a:hover {
  color: #f1f1f1;
}

/* Position des Open-Buttons */
.openbtnSize {
  position: absolute;
  cursor: pointer;
  color: black;
  border: none;
  left:511px;
  top:50px;
  font-size:30px;
}

/* Position des Close-Buttons */
.sidebarSize .closebtnSize {
  position: absolute;
  top: 70px;
  right:-2px;
  font-size: 32px;
}

/*Buttons für die Pinselgröße*/
.size1 {
  align-self :center;
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top:3px; /* Oberster Button braucht zusätzlichen Top-Abstand */
  margin-bottom:5px;
  margin-left:11px;
  background:#000 ;
}

.size2 {
  align-self :center;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:7px;
  margin-left:9px;
  background:#000 ;
}

.size5 {
  height: 16px;
  width: 16px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:6px;
  margin-left:7px;
  background:#000 ;
}

.size8 {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#000 ;
}